[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".zsh/auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
